<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Playground (Playground) 1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Playground (Playground).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>PulseWorkout Phone App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>PulseWorkout Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Release Build PulseWorkout Phone App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Release Build PulseWorkout Watch App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E4094B8A2CD0C22800915CCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4094B992CD0C22A00915CCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4094BA32CD0C22B00915CCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E46EF07729537CA1006FA603</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E46EF07D29537CA1006FA603</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E46EF08F29537CA3006FA603</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E46EF09929537CA3006FA603</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
